In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/list-of-largest-companies-united-states-by-revenue/companies_scrapping.csv

In [2]:
df = pd.read_csv('/kaggle/input/list-of-largest-companies-united-states-by-revenue/companies_scrapping.csv')
df

,Unnamed: 0,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,38,39,Lowe's,Retail,"97,059",0.8%,"244,500","Mooresville, North Carolina"
1,39,40,Johnson & Johnson,Pharmaceutical industry,"94,943",1.2%,"152,700","New Brunswick, New Jersey"
2,40,41,FedEx,Transportation,"93,512",11.4%,"518,249","Memphis, Tennessee"
3,41,42,Humana,Health Insurance,"92,870",11.8%,"67,100","Louisville, Kentucky"
4,42,43,Energy Transfer Partners,Petroleum industry,"89,876",33.3%,"12,565","Dallas, Texas"
...,...,...,...,...,...,...,...,...
95,33,34,Dell Technologies,Technology,"102,301",4.4%,"133,000","Round Rock, Texas"
96,34,35,Archer Daniels Midland,Food industry,"101,556",19.1%,"41,181","Chicago, Illinois"
97,35,36,Citigroup,Financials,"101,078",26.6%,"238,104","New York City, New York"
98,36,37,United Parcel Service,Transportation,"100,338",3.1%,"404,700","Atlanta, Georgia"
99,37,38,Pfizer,Pharmaceutical industry,"100,330",23.4%,"83,000","New York City, New York"

### Dropping unusable columns

In [3]:
df.drop(['Rank', 'Unnamed: 0'], axis=1 , inplace=True)
df

,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,Lowe's,Retail,"97,059",0.8%,"244,500","Mooresville, North Carolina"
1,Johnson & Johnson,Pharmaceutical industry,"94,943",1.2%,"152,700","New Brunswick, New Jersey"
2,FedEx,Transportation,"93,512",11.4%,"518,249","Memphis, Tennessee"
3,Humana,Health Insurance,"92,870",11.8%,"67,100","Louisville, Kentucky"
4,Energy Transfer Partners,Petroleum industry,"89,876",33.3%,"12,565","Dallas, Texas"
...,...,...,...,...,...,...
95,Dell Technologies,Technology,"102,301",4.4%,"133,000","Round Rock, Texas"
96,Archer Daniels Midland,Food industry,"101,556",19.1%,"41,181","Chicago, Illinois"
97,Citigroup,Financials,"101,078",26.6%,"238,104","New York City, New York"
98,United Parcel Service,Transportation,"100,338",3.1%,"404,700","Atlanta, Georgia"
99,Pfizer,Pharmaceutical industry,"100,330",23.4%,"83,000","New York City, New York"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    100 non-null    object
 1   Industry                100 non-null    object
 2   Revenue (USD millions)  100 non-null    object
 3   Revenue growth          100 non-null    object
 4   Employees               100 non-null    object
 5   Headquarters            100 non-null    object
dtypes: object(6)
memory usage: 4.8+ KB

In [5]:
def print_null_data(data):
    null_count = data.isna().sum()
    null_percent = data.isna().sum() / len(data)
    null_percent = null_percent.apply(lambda x: f"{x:.1%}")
    duplicated_count = data.duplicated().sum()
    result = pd.concat([null_count, null_percent], axis=1)
    result.columns = ['Null Total Data', 'Null Percentage']
    print(f"Total duplicated data: {duplicated_count}")
    return result

In [6]:
print_null_data(df)

Total duplicated data: 0

                        Null Total Data Null Percentage
Name                                  0            0.0%
Industry                              0            0.0%
Revenue (USD millions)                0            0.0%
Revenue growth                        0            0.0%
Employees                             0            0.0%
Headquarters                          0            0.0%

In [7]:
df["Revenue (USD millions)"]= df["Revenue (USD millions)"].str.replace(',','', regex=True)
df["Revenue growth"]= df["Revenue growth"].str.replace(',','', regex=True)
df["Employees"]= df["Employees"].str.replace(',','', regex=True)
df

,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,Lowe's,Retail,97059,0.8%,244500,"Mooresville, North Carolina"
1,Johnson & Johnson,Pharmaceutical industry,94943,1.2%,152700,"New Brunswick, New Jersey"
2,FedEx,Transportation,93512,11.4%,518249,"Memphis, Tennessee"
3,Humana,Health Insurance,92870,11.8%,67100,"Louisville, Kentucky"
4,Energy Transfer Partners,Petroleum industry,89876,33.3%,12565,"Dallas, Texas"
...,...,...,...,...,...,...
95,Dell Technologies,Technology,102301,4.4%,133000,"Round Rock, Texas"
96,Archer Daniels Midland,Food industry,101556,19.1%,41181,"Chicago, Illinois"
97,Citigroup,Financials,101078,26.6%,238104,"New York City, New York"
98,United Parcel Service,Transportation,100338,3.1%,404700,"Atlanta, Georgia"
99,Pfizer,Pharmaceutical industry,100330,23.4%,83000,"New York City, New York"

### Rename uncomfortable labels.

In [8]:
df.rename(columns = {'Revenue (USD millions)':'Reveunue_usd', 'Revenue growth': 'Revenue_growth'}, inplace = True) 
df

,Name,Industry,Reveunue_usd,Revenue_growth,Employees,Headquarters
0,Lowe's,Retail,97059,0.8%,244500,"Mooresville, North Carolina"
1,Johnson & Johnson,Pharmaceutical industry,94943,1.2%,152700,"New Brunswick, New Jersey"
2,FedEx,Transportation,93512,11.4%,518249,"Memphis, Tennessee"
3,Humana,Health Insurance,92870,11.8%,67100,"Louisville, Kentucky"
4,Energy Transfer Partners,Petroleum industry,89876,33.3%,12565,"Dallas, Texas"
...,...,...,...,...,...,...
95,Dell Technologies,Technology,102301,4.4%,133000,"Round Rock, Texas"
96,Archer Daniels Midland,Food industry,101556,19.1%,41181,"Chicago, Illinois"
97,Citigroup,Financials,101078,26.6%,238104,"New York City, New York"
98,United Parcel Service,Transportation,100338,3.1%,404700,"Atlanta, Georgia"
99,Pfizer,Pharmaceutical industry,100330,23.4%,83000,"New York City, New York"

#### Changing data types for prepearing train model.

In [9]:
df["Reveunue_usd"] = df["Reveunue_usd"].astype('int64')
df["Employees"] = df["Employees"].astype('int64')
df['Revenue_growth'] = df['Revenue_growth'].str.rstrip('%').astype('float') / 100.0

In [10]:
df

,Name,Industry,Reveunue_usd,Revenue_growth,Employees,Headquarters
0,Lowe's,Retail,97059,0.008,244500,"Mooresville, North Carolina"
1,Johnson & Johnson,Pharmaceutical industry,94943,0.012,152700,"New Brunswick, New Jersey"
2,FedEx,Transportation,93512,0.114,518249,"Memphis, Tennessee"
3,Humana,Health Insurance,92870,0.118,67100,"Louisville, Kentucky"
4,Energy Transfer Partners,Petroleum industry,89876,0.333,12565,"Dallas, Texas"
...,...,...,...,...,...,...
95,Dell Technologies,Technology,102301,0.044,133000,"Round Rock, Texas"
96,Archer Daniels Midland,Food industry,101556,0.191,41181,"Chicago, Illinois"
97,Citigroup,Financials,101078,0.266,238104,"New York City, New York"
98,United Parcel Service,Transportation,100338,0.031,404700,"Atlanta, Georgia"
99,Pfizer,Pharmaceutical industry,100330,0.234,83000,"New York City, New York"

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            100 non-null    object
 1   Industry        100 non-null    object
 2   Reveunue_usd    100 non-null    int64
 3   Revenue_growth  100 non-null    float64
 4   Employees       100 non-null    int64
 5   Headquarters    100 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 4.8+ KB

### Here trying to catch up any outliers

In [12]:
from collections import Counter
df_selected_for_outliers = df.select_dtypes(include=['int', 'float'])
def detect_outliers(data, features):
    outlier_indices = []
    for i in features:
        Q1 = np.percentile(data[i], 25)
        Q3 = np.percentile(data[i], 75)
        
        IQR = Q3 - Q1
        
        outlier_step = IQR * 1.5
        outlier_list_column = data[(data[i] < Q1 - outlier_step) | (data[i] > Q3 + outlier_step)].index
        outlier_indices.extend(outlier_list_column)
    
    outlier_indices = Counter(outlier_indices)
    multiple_indices = list(i for i, v in outlier_indices.items() if v > 2)
    return  multiple_indices
detect_outliers(df, df_selected_for_outliers)

[]

#### Annnd there is the end of notebook. Above is this markdown we try to find and drop outliers. But there is no any outlier values. Function returned a blank list.

#### Thanks for inspecting my notebook you can check also my other notebooks. This is a mini and beginner dataset. **I scrapped this data from web.** If u have any advice please contact me. Don't forget to upvote. 🍉
*Dataset source: https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue*